.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .mainContent {
    padding-top: 20px; /* Отступ после хедера */
  }
  
  .h1 {
    font-size: 3rem;
    font-weight: 500;
    color: #333;
    text-align: center;
    margin: 40px 0;
  }

.statsWrapper {
    /* Точное позиционирование 1184x376 */
    width: 1184px;
    height: 376px;
    margin-left: 368px; 
    /* Подберите точный margin-top, чтобы начать с 629px от верха */
    margin-top: 49px; /* (Примерно) */
}