.statsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 40px 0;
  }
  
  .statCard {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
  }
  
  .cardTitle {
    font-size: 1.2rem;
    font-weight: 500;
    color: #173f8b;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .icon {
    font-size: 2rem;
    margin-right: 15px;
    color: #173f8b;
    background-color: #e6e6fa; /* Светлый фон для иконки */
    padding: 10px;
    border-radius: 50%;
  }
  
  .numbers {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .numberItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .value {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
  }
  
  .unit {
    font-size: 0.9rem;
    color: #777;
    margin-top: 5px;
  }
  
  .publicationValue {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
  }